/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-txt {
  @apply text-[rgb(231,29,54,1)];
}

.banner {
  background: linear-gradient(
    90deg,
    #ffe6e6 0%,
    #f5fffe 26.81%,
    #fcf3ff 54.58%,
    #fff4e6 99.86%
  );
}

.banner-wave {
  background-image: url(../src/assets/wave.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

.active-li {
  @apply border-b-2 border-b-[rgb(231,29,54,1)];
}

.primary-btn {
  @apply bg-[rgb(231,29,54,1)] text-white px-10 py-3 rounded-3xl cursor-pointer;
}

.form {
  background: linear-gradient(
      0deg,
      rgba(231, 29, 53, 0.113),
      rgba(231, 29, 53, 0.119)
    ),
    linear-gradient(
      180deg,
      rgba(255, 208, 214, 0.5) 0%,
      rgba(255, 231, 198, 0.5) 100%
    );
  border: 5px solid rgba(231, 29, 54, 0.27);
}

.input:focus {
  @apply outline-none border-none placeholder:text-red-600;
}

.brand-container {
  background: rgba(255, 251, 251, 1);
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.11);
}

.second-btn {
  width: 173px;
  height: 52px;
  border-radius: 10px;
  background: #2ec4b6;
  box-shadow: 0px 4px 12px 0px #2ec4b67a;
  color: white;
}

.primary-card {
  height: 333px;
  box-shadow: 0px 4px 13px 0px #0000000f;
  @apply border-2 rounded-3xl p-5 w-full md:max-w-[270px] border-t-red-500 border-x-red-400 border-opacity-40;
}
.secondary-card {
  height: 333px;
  background: #f6fffe;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.06);
  @apply border-2 rounded-3xl p-5 w-full md:max-w-[270px] border-t-[rgb(46,196,182,1)] border-x-[rgba(46,196,181,0.61)] border-opacity-40;
}

.card-primary {
  height: 198px;
  @apply border-2 rounded-3xl p-5 w-full md:max-w-[416px] border-r-red-500 border-y-red-400 border-opacity-40 flex gap-4 items-center;
}

.card-bg {
  background: linear-gradient(
      270deg,
      rgba(231, 29, 53, 0.162) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, #fff8f8, #fff8f8);
}

.link-txt {
  @apply primary-txt font-semibold items-center flex gap-3 cursor-pointer;
}

.accordion-info {
  background: linear-gradient(
    90deg,
    #ffe6e6 0%,
    #f5fffe 26.81%,
    #fcf3ff 54.58%,
    #fff4e6 99.86%
  );
  height: 407px;
}

.seo-input {
  @apply border border-indigo-200  placeholder:text-black shadow-2xl shadow-indigo-200 bg-white input rounded-3xl;
}

.input-2 {
  @apply input rounded-3xl bg-[#2253D3] placeholder:text-white;
}
.footer {
  background: linear-gradient(
    90deg,
    rgba(255, 230, 230, 0.52) 0%,
    rgba(245, 255, 254, 0.52) 26.81%,
    rgba(252, 243, 255, 0.52) 54.58%,
    rgba(255, 244, 230, 0.52) 99.86%
  );
}

.txt-grn {
  color: #61d2c8;
}

/* custom-scrollbar.css */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  display: none;
}

.second-scroll::-webkit-scrollbar {
  width: 4px;
}

.second-scroll::-webkit-scrollbar-thumb {
  background: #fb4ea4;
}
.hide-scroll::-webkit-scrollbar {
  width: 0px;
}

.hide-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}
